{{>header}}
        <input type="hidden" value="" id="username">
        <input type="hidden" value="" id="room">
        <div id="drawer">
            <div id="board" class="board">
                <div class="first">
                    <div id="c1" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/northwest-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c2" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/top-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c3" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/top-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c4" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/northeast-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="second">
                    <div id="c5" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="one" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="twelve" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="eleven" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c6" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="third">
                    <div id="c7" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="two" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="thirteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="eighteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="ten" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c8" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="fourth">
                    <div id="c9" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/west-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="three" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="fourteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="nineteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="seventeen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="nine" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c10" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/east-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="fifth">
                    <div id="c11" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="four" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="fifteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="sixteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="eight" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c12" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="sixth">
                    <div id="c13" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="five" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="six" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="seven" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c14" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="seventh">
                    <div id="c15" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/southwest-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c16" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottom-tile.png);" class="hexagon-in2"></div></div></div> 
                    <div id="c17" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottom-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c18" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/southeast-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
            </div>
            <div class="div-block-2 w-clearfix" style="top:0;right:0;position:fixed">
                <div class="div-block" id="players">
                </div>
                <div class="div-block-18"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e860086c4dabc44781c6d44_1359102814_preview_Road%20Building-2(no%20bg).png" alt="" class="image-14"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e86006eb6682d3b6c90b0b4_1359102814_preview_Monopoly-2(no%20bg).png" alt="" class="image-13"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e86004db2ab9b4900020c73_1359102814_preview_VP-5(no%20bg).png" alt="" class="image-12"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85fffcb4bf0c7815622b07_1359102814_preview_Knight-%2014(no%20bg).png" alt="" class="image-11"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85ff75b6682d5d9290a7ab_1359102814_preview_Year%20of%20Plenty-2(no%20bg).png" alt="" class="image-10"></div>
            </div>
            <div id="placement">
            </div>
            <div id="dice" class="dice-box" style="display: none">
                <img id="dice1" src="/images/dice/d3.png" class="dice1">
                <img id="dice2" src="/images/dice/d5.png" class="dice2">
            </div>
            <div id="turn-pop" class="turn-pop" style="display: none">
                <span id="turn-text" class="turn-text">your turn</span>
            </div>
        </div>
        {{>footer}}
        <script src="js/game.js"></script>
        <script>
            window.onload = () => {
                //variables roomName, userName, color, seaData, boardData
                let boardData = {{{boardData}}}
                set_board(boardData)
                localStorage.setItem("roomName", boardData.roomName)
                let getUsersData = {}
                getUsersData.userName = localStorage.getItem("userName")
                getUsersData.roomName = localStorage.getItem("roomName")
                socket.emit("getUsers", getUsersData)
            }
        </script>
    </body>
</html>