{{>header}}
        <input type="hidden" value="" id="username">
        <input type="hidden" value="" id="room">
        <div id="drawer">
            <div id="board" class="board">
                <div class="first">
                    <div id="c1" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/northwest-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c2" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/top-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c3" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/top-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c4" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/northeast-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="second">
                    <div id="c5" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="one" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="two" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="three" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c6" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="third">
                    <div id="c7" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="four" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="five" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="six" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="seven" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c8" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/topright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="fourth">
                    <div id="c9" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/west-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="eight" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="nine" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="ten" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="eleven" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="twelve" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c10" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/east-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="fifth">
                    <div id="c11" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="thirteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="fourteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="fifteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="sixteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c12" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="sixth">
                    <div id="c13" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="seventeen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="eighteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="nineteen" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomleft-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c14" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottomright-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
                <div class="seventh">
                    <div id="c15" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/southwest-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c16" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottom-tile.png);" class="hexagon-in2"></div></div></div> 
                    <div id="c17" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/bottom-tile.png);" class="hexagon-in2"></div></div></div>
                    <div id="c18" class="hexagon hexagon2"><div class="hexagon-in1"><div style="background-image: url(images/tiles/southeast-tile.png);" class="hexagon-in2"></div></div></div>
                </div>
            </div>
            <div class="div-block-2 w-clearfix" style="top:0;right:0;position:fixed">
                <div class="div-block">
                    <div class="div-block-4">
                        <div class="div-block-7">
                            <div class="div-block-13"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e1e228ae07184e434a2a_stan-marsh.png" alt="" class="image icon"></div>
                        </div>
                        <div class="div-block-8">
                            <div class="div-block-9">
                                <div class="text-block-2">stan</div>
                            </div>
                            <div class="div-block-10">
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d356516e7a5ac65221a1_resource_card.png" alt="" class="image-2">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d37f05cae159c6d7814a_development_card.png" alt="" class="image-3">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d442ab67c73749ea7b0a_longest_road.png" alt="" class="image-4 roadC">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d49005cae120ebd785bf_largest_army.png" alt="" class="image-4 army">
                                <div class="text-block">4</div>
                            </div>
                            <div class="div-block-11">
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e8601b11a2cdafa581b7ba4_trophy.png" alt="" class="image-15">
                                <div class="text-block-3">6</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-4">
                        <div class="div-block-7 green">
                            <div class="div-block-13"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e340516e7a4dff529c2f_eric-cartman.png" alt="" class="image icon"></div>
                        </div>
                        <div class="div-block-8">
                            <div class="div-block-9 green">
                                <div class="text-block-2">eric</div>
                            </div>
                            <div class="div-block-10">
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d356516e7a5ac65221a1_resource_card.png" alt="" class="image-2">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d37f05cae159c6d7814a_development_card.png" alt="" class="image-3">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d442ab67c73749ea7b0a_longest_road.png" alt="" class="image-4 roadC">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d49005cae120ebd785bf_largest_army.png" alt="" class="image-4 army">
                                <div class="text-block">4</div>
                            </div>
                            <div class="div-block-11 green">
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e8601b11a2cdafa581b7ba4_trophy.png" alt="" class="image-15">
                                <div class="text-block-3">6</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-4 active">
                        <div class="div-block-7 yellow">
                            <div class="div-block-13"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e34f83474059ed42e247_kenny-mccormick.png" alt="" class="image icon"></div>
                        </div>
                        <div class="div-block-8">
                            <div class="div-block-9 yellow">
                                <div class="text-block-2">kenny</div>
                            </div>
                            <div class="div-block-10">
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d356516e7a5ac65221a1_resource_card.png" alt="" class="image-2">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d37f05cae159c6d7814a_development_card.png" alt="" class="image-3">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d442ab67c73749ea7b0a_longest_road.png" alt="" class="image-4 roadC">
                                <div class="text-block">4</div>
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d49005cae120ebd785bf_largest_army.png" alt="" class="image-4 army">
                                <div class="text-block">4</div>
                            </div>
                            <div class="div-block-11 yellow">
                                <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e8601b11a2cdafa581b7ba4_trophy.png" alt="" class="image-15">
                                <div class="text-block-3">6</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-block-6">
                        <div class="div-block-4 self">
                            <div class="div-block-7 white">
                                <div class="div-block-13"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e36d1ad657445048af8c_kyle-broflovski.png" alt="" class="image icon"></div>
                            </div>
                            <div class="div-block-8">
                                <div class="div-block-9 white">
                                    <div class="text-block-2">kyle</div>
                                </div>
                                <div class="div-block-10">
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d356516e7a5ac65221a1_resource_card.png" alt="" class="image-2">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d37f05cae159c6d7814a_development_card.png" alt="" class="image-3">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d442ab67c73749ea7b0a_longest_road.png" alt="" class="image-4 roadC">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85d49005cae120ebd785bf_largest_army.png" alt="" class="image-4 army">
                                    <div class="text-block">4</div>
                                </div>
                                <div class="div-block-11 white">
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e8601b11a2cdafa581b7ba4_trophy.png" alt="" class="image-15">
                                    <div class="text-block-3">6</div>
                                </div>
                            </div>
                        </div>
                        <div class="div-block-4 self">
                            <div class="div-block-8">
                                <div class="div-block-10">
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85dac18a971316d5ffdb15_wood-res.png" alt="" class="image-2 res">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85dd4005cae117a7d7b6f8_brick-res.png" alt="" class="image-2 res">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85de84f0055be1c9ad1953_grain-res.png" alt="" class="image-2 res">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e4c8ab67c748dfeae211_sheep-res.png" alt="" class="image-2 res">
                                    <div class="text-block">4</div>
                                    <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e4d2fcf9a74373baec8c_ore-res.png" alt="" class="image-2 res">
                                    <div class="text-block">4</div>
                                </div>
                                <div class="div-block-14">
                                    <div><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f525c732f5e8b490c0eb_trade%2Cpng.png" alt="" class="image-8"></div>
                                    <div class="div-block-16">
                                        <img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city.png" srcset="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city-p-500.png 500w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city-p-800.png 800w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city-p-1600.png 1600w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city-p-2000.png 2000w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0d236f65ffc007435b5_white-city.png 2001w" sizes="(max-width: 767px) 16vw, 105.58333587646484px" alt="" class="image-7 active"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement.png" srcset="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement-p-500.png 500w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement-p-800.png 800w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement-p-1600.png 1600w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement-p-2000.png 2000w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f07e334dd48f680b2464_white-settlement.png 2010w" sizes="(max-width: 767px) 16vw, 94.58333587646484px" alt="" class="image-7 active">
                                        <div class="div-block-15"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road.png" srcset="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road-p-500.png 500w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road-p-800.png 800w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road-p-1080.png 1080w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road-p-1600.png 1600w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road-p-2000.png 2000w, https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85f0e29ac004e57971f3fb_white-road.png 2429w" sizes="(max-width: 479px) 15vw, (max-width: 767px) 3vw, (max-width: 991px) 2vw, 4vw" alt="" class="image-7 rd active"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-block-7 dice"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85e8340d49d478951edd58_dice.png" alt="" class="image-6"></div>
                        </div>
                    </div>
                </div>
                <div class="div-block-18"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e860086c4dabc44781c6d44_1359102814_preview_Road%20Building-2(no%20bg).png" alt="" class="image-14"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e86006eb6682d3b6c90b0b4_1359102814_preview_Monopoly-2(no%20bg).png" alt="" class="image-13"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e86004db2ab9b4900020c73_1359102814_preview_VP-5(no%20bg).png" alt="" class="image-12"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85fffcb4bf0c7815622b07_1359102814_preview_Knight-%2014(no%20bg).png" alt="" class="image-11"><img src="https://uploads-ssl.webflow.com/5e2d54ac8c2b171958c1b1c0/5e85ff75b6682d5d9290a7ab_1359102814_preview_Year%20of%20Plenty-2(no%20bg).png" alt="" class="image-10"></div>
            </div>
        </div>
        {{>footer}}
        <script>
            window.onload = () => {
                //variables roomName, userName, color, seaData, boardData
                let boardData = {{{boardData}}}
                set_board(boardData)
            }
        </script>
    </body>
</html>