{{>header}}
        <form action="game" method="post" id="gameForm">
            <input name="roomName" placeholder="roomName" id="roomName">
            <input name="userName" placeholder="userName" id="userName">
            {{!-- <input type="hidden" name="authCode" placeholder="authCode" value="{{authCode}}"> --}}
            <input name="user2" placeholder="user2">
            <input name="user3" placeholder="user3">
            <input name="user4" placeholder="user4">
            <button id="gameButton">Start</button>
        </form>
        {{>footer}}
        <script src="js/home.js"></script>
        <script>
            localStorage.setItem("userName", "{{userName}}")
            document.getElementById("gameButton").addEventListener("click", function(event){
                event.preventDefault()
                join_room_submit()
            })
        </script>
    </body>
</html>