{{>header}}
        <form action="game" method="get">
            <input name="roomName" placeholder="roomName">
            <input name="color" placeholder="color">
            <input name="userName" placeholder="userName">
            <input name="authCode" placeholder="authCode">
            <input name="user1" placeholder="user1">
            <input name="user2" placeholder="user2">
            <input name="user3" placeholder="user3">
            <button>Start</button>
        </form>
        {{>footer}}
        <script>
            localStorage.setItem("userName", "{{userName}}")
            localStorage.setItem("authCode", "{{authCode}}")
        </script>
    </body>
</html>